Repository cailloumajor/led-timing-board: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, flake8, isort, mypy, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.1
    hooks:
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        types: [c++]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]

Change directory structure
  .gitignore
  Makefile
  bin/.gitkeep
  src/stdin-text-driver.cc
Due: cpplint

Add Python main script
  tests/test_timing_board.py
  timing_board.py
Due: flake8, isort, mypy, pylint

Use a class to handle timing board logic
  tests/test_timing_board.py
  timing_board.py
Due: flake8, isort, mypy, pylint

Start with useful first line
  timing_board.py
Due: flake8, isort, mypy, pylint

Wait for matrix driver when exiting the loop
  timing_board.py
Due: flake8, isort, mypy, pylint

Rename repository
  README.md
  pyproject.toml
Due: none

Fix typo
  .vscode/settings.json
Due: none

Add development container configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/reinstall-cmake.sh
  .editorconfig
  .vscode/c_cpp_properties.json
  .vscode/settings.json
Due: none

Switch to own rpi-rgb-led-matrix fork
  .gitmodules
Due: none

change font
  6x8_custom.bdf
  ter-u32b.bdf
Due: none

Fix linking
  Makefile
Due: none

Format on save
  .vscode/settings.json
Due: none

Remove dev container config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/reinstall-cmake.sh
Due: none

Set Poetry virtualenv to be in project dir
  poetry.toml
Due: none

Set recommended VSCode extensions
  .vscode/extensions.json
Due: none

Configure Python dev tooling
  .coveragerc
  .flake8
  .isort.cfg
  .vscode/settings.json
  mypy.ini
  poetry.lock
  pyproject.toml
  pytest.ini
  src/timing_board.py
Due: flake8, isort, mypy, pylint

Remove unused .envrc
  .envrc
Due: none

Update .gitignore
  .gitignore
Due: none

Remove tests
  .vscode/settings.json
  conftest.py
  poetry.lock
  pyproject.toml
  pytest.ini
  tests/__init__.py
  tests/test_timing_board.py
Due: flake8, isort, mypy, pylint

Refactor the code
  mypy.ini
  poetry.lock
  pyproject.toml
  src/led_timing_board/__init__.py
  src/led_timing_board/main.py
  src/timing_board.py
Due: flake8, isort, mypy, pylint

Use classes for display strategies
  src/led_timing_board/display_strategies.py
  src/led_timing_board/main.py
Due: flake8, isort, mypy, pylint

Reduce off time when blinking
  src/led_timing_board/display_strategies.py
Due: flake8, isort, mypy, pylint

Update instructions
  src/led_timing_board/main.py
Due: flake8, isort, mypy, pylint

Set initial display via environment variable
  src/led_timing_board/display_strategies.py
Due: flake8, isort, mypy, pylint

Restrict laps instruction to 3 digits.
  src/led_timing_board/main.py
Due: flake8, isort, mypy, pylint

Use first found keyboard
  src/led_timing_board/main.py
Due: flake8, isort, mypy, pylint
